[user]
	name = voodeng
	email = voodeng@gmail.com
[core]
	autocrlf = true
	excludesfile = C:\\Users\\voodeng\\.gitignore_global
[gui]
     encoding = utf-8
[i18n]
     commitencoding = gbk
[svn]
     pathnameencoding = gbk
[credential]
[difftool "sourcetree"]
	cmd = 'D:/Applications/Beyond Compare 3/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'D:/Applications/Beyond Compare 3/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
